{% for message in messages %}
<div class="model-class">
    <h2>
		{{ message.article}}
	</h2>
        {{ message.user_from }}:
        {{ message.text }}
</div>

<form action="{% url 'article:message_create' pk=message.article.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Accept it">
</form> 

{% endfor %}

<form action="" method="get" class="form-inline mt-2 m\
t-md-0">
<input id="q" name="q" value="{{ q }}" \
class="form-control mr-sm-2" type="text" placeholder="Searc\
h..." aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0\
" type="submit">Search</button>
</form>

