

<!-- <h3> Message</h3> 
{% url 'message_create' pk as the_url%}
<a href="{{ the_url }}">New message</a> -->

{% for article in articles %}
<div class="model-class">
    <h2>
		{{ article.tittle }}
	</h2>
	{{ article.content|safe }}
</div>

	<form action="{% url 'article:detail' pk=article.id %}" method="post">
		{% csrf_token %}
		<input type="submit" value="article">
	</form>
{% endfor %}

<form action="{% url 'article:create' %}" method="post">
	{% csrf_token %}
	<input type="submit" value="add article">
</form>
